* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background:whitesmoke;
}
.wrapper {
  width: 100%;
  max-width: 34.37em;
  max-height: 90vh;
  background-color: #686767;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.rotate_image {
  transform: rotate(180deg);
}
#wheel {
  max-height: inherit;
  width: inherit;
  top: 0;
  padding: 0;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#spin-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 26%;
  width: 26%;
  border-radius: 50%;
  cursor: pointer;
  border: white solid;
  background: #e1ad01;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 700;
}
img {
  position: absolute;
  width: 5em;
  top: 40%;
  right: -8%;
}
#final-value {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1.5em;
  color: #fffefe;
  font-weight: 500;
}
.segnapunti {
  width: 50%;
  max-width: 10em;
  max-height: 5em;
  position: fixed;
  border-radius: 15px;
  transform: translate(-50%, 35%);
  left: 50%;
  right: 50%;
  padding: 1em;
  box-sizing: border-box;
  background-color: #686767;
  font-size: 150%;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}
.punti {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .wrapper {
    font-size: 12px;
  }
  img {
    right: -5%;
  }
}

input[type = checkbox]{
  margin-left: 4%;
  transform: scale(2);
}


.missioni-tab {
  position: fixed;
  top: 25%;
  left: -27%;
  width: 30%;
  height: 25%;
  background-color: #e1ad01;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: left 0.5s ease-in-out;
}

.missioni-tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #686767;
  border-top-right-radius: 10px;
}

.missioni-tab-header h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.missioni-tab-toggle {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

.missioni-tab-content {
  color: white;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 2em;
  height: 100%;
  font-weight: bold;
}

.missioni-tab-open {
  left: 0;
}

@media screen and (max-width: 768px) {
  .missioni-tab {
    width: 50%;
    left: -50%;
  }
}

.home{
  border:#686767;
  background-color: #686767;
  position: absolute;
  width: 15%;
  height: 60px;
  padding-top: 10px;
  padding-left: 20px;
  border-bottom-right-radius: 1000px;
}

#home{
  color: white;
  text-decoration: none;
  font: bold;
  font-size: 25px;
}
